.hamburger-line {
    width: 32px;
    height: 4px;
    background-color: black;
    margin-top: 4px;
}

.hamburger-icon:hover {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 250px;
    padding: 16px;
    margin-top: 8px;
}